* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f68658;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

button {
    font-size: 20px;
}

.loc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 30px;
}

.main-contant-container {
    display: flex;
    justify-content: space-between;
}

.wheather-loc-container {
    display: flex;
    flex-direction: column;
}

.main-map {
    width: 100%;
    height: 600px;
    margin: 20px;
}

.A {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.B {
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: 5px;
}